@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 3px;
}

main::-webkit-scrollbar-thumb:hover {
  background: #888;
}

main::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 0px;
}

main::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 0px;
}

.start-img:hover {
  cursor: pointer;
}